@charset "UTF-8";

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------
------------> SITE CSS
--------------------------------------------------------------*/

@import "development/lessmixins.less";
@import (less) "css/common.css";

/*-----------------------------------*/
/* LESS MIXINS                       */
/*-----------------------------------*/
@base-color: #333;
@text-color: #333;
@link-color: #337ab7;
@hover-color: darken(@link-color, 10%);
@red-color: #E53D37;

@site-font: 'roboto_condensedregular', 'Roboto', Calibri, Arial, sans-serif;
@bold-font: 'roboto_condensedbold';
/*-----------------------------------*/


/* ------------------ Global CSS ------------------ */
body{
    font-family: @site-font;
    font-size: 1.5rem;
    color: @text-color;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6,
b,
strong{
  font-family: @bold-font;
  font-weight: normal;
}


/* ------------------- Site CSS ------------------- */
